In [145]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
import pandas as pd
import numpy as np

In [115]:
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [116]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [117]:
df.shape

(1586614, 13)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [119]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [120]:
df_cleaned = df.copy()
df_cleaned.drop(['brewery_id', 'review_time', 'review_overall', 'review_profilename', 'beer_name'], axis=1, inplace=True)
df_cleaned.dropna(inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.to_csv('../data/interim/beer_reviews.csv', index=False)

In [121]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

In [122]:
num_cols = ['review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv']
sc = StandardScaler()
X_train_cleaned = df_cleaned.copy()
X_train_cleaned[num_cols] = sc.fit_transform(X_train_cleaned[num_cols])

cat_cols = ['beer_style', 'brewery_name']
le = OrdinalEncoder()
X_train_cleaned[cat_cols] = le.fit_transform(X_train_cleaned[cat_cols])
X_train_cleaned.reset_index(drop=True, inplace=True)

In [123]:
X_train_cleaned.head()

,brewery_name,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,4886.0,-2.511041,-2.198046,65.0,-3.317269,-3.161958,-0.879384,47986
1,4886.0,-1.792025,-1.384166,51.0,-1.109371,-1.103408,-0.362706,48213
2,4886.0,-1.792025,-1.384166,59.0,-1.109371,-1.103408,-0.233537,48215
3,4886.0,-1.073010,-0.570285,61.0,-1.845337,-1.103408,-0.879384,47969
4,1360.0,1.084037,0.243595,9.0,0.362561,0.955143,0.283141,64883

In [124]:
X = X_train_cleaned[num_cols+cat_cols+'beer_style']
y = X_train_cleaned['beer_style']

In [143]:
# Get number of unique beer types
num_classes = y.nunique()

In [128]:
X.shape

(1518814, 7)

In [146]:
from src.data.sets import split_sets_by_time
from src.models.pytorch import get_device

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(X, target_col='beer_style', test_ratio=0.2)

ModuleNotFoundError: No module named 'src.data.sets'

In [132]:
train_dataset = PytorchDataset(torch.from_numpy(X_train.to_numpy()).float(), torch.from_numpy(y_train.to_numpy()).long())
test_dataset = PytorchDataset(torch.from_numpy(X_test.to_numpy()).float(), torch.from_numpy(y_test.to_numpy()).long())

In [133]:
X_train.shape

(1215051, 7)

In [134]:
y_train.shape

(1215051,)

In [138]:
from src.models.pytorch import PytorchClassification
from src.models.pytorch import PytorchDataset
from src.models.pytorch import train_classification, test_classification

learning_rate = 0.001
N_EPOCHS = 5
BATCH_SIZE = 32

model = PytorchClassification(X_train.shape[1], num_classes)
device = get_device()
model.to(device)
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

for epoch in range(N_EPOCHS):
    train_loss, train_rmse = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_rmse = test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tRMSE: {train_rmse:.1f}')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tRMSE: {valid_rmse:.1f}')

Epoch: 0
	(train)	Loss: 0.0533	|	RMSE: 0.2
	(valid)	Loss: 0.0361	|	RMSE: 0.2

Epoch: 1
	(train)	Loss: 0.0440	|	RMSE: 0.2
	(valid)	Loss: 0.0383	|	RMSE: 0.2

Epoch: 2
	(train)	Loss: 0.0423	|	RMSE: 0.2
	(valid)	Loss: 0.0322	|	RMSE: 0.2

Epoch: 3
	(train)	Loss: 0.0415	|	RMSE: 0.2
	(valid)	Loss: 0.0370	|	RMSE: 0.2

Epoch: 4
	(train)	Loss: 0.0409	|	RMSE: 0.2
	(valid)	Loss: 0.0362	|	RMSE: 0.2

In [139]:
torch.save(model, "../models/pytorch_classification_v1.pt")

In [142]:
test_loss, test_rmse = test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tRMSE: {test_rmse:.1f}')

	Loss: 0.0362	|	RMSE: 0.2