In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [7]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [8]:
df.shape

(1586614, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [10]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [11]:
df_cleaned = df.copy()
df_cleaned.drop(['brewery_id', 'review_time', 'review_overall', 'review_profilename', 'beer_name', 'beer_beerid'], axis=1, inplace=True)
df_cleaned.dropna(inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.to_csv('../data/interim/beer_reviews.csv', index=False)

In [12]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

In [13]:
num_cols = ['review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv']
sc = StandardScaler()
X_train_cleaned = df_cleaned.copy()
X_train_cleaned[num_cols] = sc.fit_transform(X_train_cleaned[num_cols])

cat_cols = ['brewery_name']
target_col = ['beer_style']
oe_cat = OrdinalEncoder()
oe_target = OrdinalEncoder()
X_train_cleaned[cat_cols] = oe_cat.fit_transform(X_train_cleaned[cat_cols])
X_train_cleaned[target_col] = oe_target.fit_transform(X_train_cleaned[target_col])
X_train_cleaned.reset_index(drop=True, inplace=True)

In [14]:
X_train_cleaned.head()

,brewery_name,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
0,4886.0,-2.511041,-2.198046,65.0,-3.317269,-3.161958,-0.879384
1,4886.0,-1.792025,-1.384166,51.0,-1.109371,-1.103408,-0.362706
2,4886.0,-1.792025,-1.384166,59.0,-1.109371,-1.103408,-0.233537
3,4886.0,-1.073010,-0.570285,61.0,-1.845337,-1.103408,-0.879384
4,1360.0,1.084037,0.243595,9.0,0.362561,0.955143,0.283141

In [15]:
beer_style_names = oe_target.categories_[0]
brewery_names = oe_cat.categories_[0]
num_classes = len(beer_style_names)

In [16]:
X = X_train_cleaned[num_cols+cat_cols+target_col]

In [17]:
X.shape

(1518814, 7)

In [18]:
X.head()

,review_aroma,review_appearance,review_palate,review_taste,beer_abv,brewery_name,beer_style
0,-2.511041,-2.198046,-3.317269,-3.161958,-0.879384,4886.0,65.0
1,-1.792025,-1.384166,-1.109371,-1.103408,-0.362706,4886.0,51.0
2,-1.792025,-1.384166,-1.109371,-1.103408,-0.233537,4886.0,59.0
3,-1.073010,-0.570285,-1.845337,-1.103408,-0.879384,4886.0,61.0
4,1.084037,0.243595,0.362561,0.955143,0.283141,1360.0,9.0

In [19]:
import torch
from src.models.pytorch import get_device
from src.data.sets import split_sets_by_time
from src.models.pytorch import PytorchDataset

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(X, target_col='beer_style', test_ratio=0.2)

In [20]:
train_dataset = PytorchDataset(torch.from_numpy(X_train.to_numpy()).float(), torch.from_numpy(y_train.to_numpy()).long())
test_dataset = PytorchDataset(torch.from_numpy(X_test.to_numpy()).float(), torch.from_numpy(y_test.to_numpy()).long())
valid_dataset = PytorchDataset(torch.from_numpy(X_val.to_numpy()).float(), torch.from_numpy(y_val.to_numpy()).long())

In [21]:
X_train.shape

(911290, 6)

In [22]:
y_train.shape

(911290,)

In [ ]:
import torch
import torch.nn as nn
from importlib.machinery import SourceFileLoader
py_torch = SourceFileLoader('pytorch', '../src/models/pytorch.py').load_module()

train_losses=[]
train_accu=[]
val_losses=[]
val_accu=[]

learning_rate = 0.01
N_EPOCHS = 7119
BATCH_SIZE = 128

model = py_torch.PytorchMultiClass(6, num_classes)
device = py_torch.get_device()
model.to(device)
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

for epoch in range(N_EPOCHS):
    train_loss, train_acc = py_torch.train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_acc = py_torch.test_classification(valid_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
    
    if epoch%5==0:
        print(f'Epoch: {epoch}')
        print(f'\t(train)\t|\tLoss: {train_loss}\t|\tAcc: {train_acc}%')
        print(f'\t(valid)\t|\tLoss: {valid_loss}\t|\tAcc: {valid_acc}%')
    train_losses.append(train_loss)
    train_accu.append(train_acc)
    val_losses.append(valid_loss)
    val_accu.append(valid_acc)

PytorchMultiClass v2
Epoch: 0
	(train)	|	Loss: 0.0363	|	Acc: 1.22%
	(valid)	|	Loss: 0.0363	|	Acc: 0.92%

In [35]:
torch.save(model, "../models/pytorch_classification_v1.pt")

In [36]:
test_loss, test_acc = test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tValid Acc: {test_acc:.1f}')

	Loss: 4.3933	|	Valid Acc: 2.0